html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

#cart-page {
  background-color: gainsboro;
  /* position: relative; */
  margin: 0;
  height: 100%;
  /* position: absolute; */
}

#cart-title {
  margin-top: 0px;
  font-size: 28px;
}

#center-product-cart {
  width: 87%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  /* position: absolute; */
  /* background-color: white; */
  padding: 20px;
}

#product-orders-container {
  width: 81%;
  background-color: white;
  padding: 20px;
}

#position-price {
  text-align: right;
  color: gray;
  font-size: 14px;
  margin-bottom: 0px;
}

#cart-check-out-section {
  background-color: white;
  width: 300px;
  margin-left: 20px;
  padding: 20px;
  height: 145px;
}

#cart-checkout-btn {
  background-color: #ffd057;
  border-radius: 5px;
  border: none;
  height: 29px;
  width: 285px;
  justify-content: center;
  margin-top: 20px;
}

.cart-hr {
  border: 0px;
  height: 1px;
  background-color: lightgray;
  margin-top: 0px;
}

#cart-checkout-subtotal {
  font-size: 18px;
  margin-top: 0px;
}

#cart-checkout-subtotal-price {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 900;
}

#cart-product-subtotal-section {
  text-align: right;
}

#cart-product-subtotal {
  font-size: 18px;
}

#cart-product-subtotal-price {
  font-size: 18px;
  font-weight: 900;
}
