.product-cards {
  /* width: 325px;
  height: 420px; */
  background-color: white;
  /* padding: 0px 0px;
  margin: 0px 0px; */
}

.landing-images {
  margin-left: 20px;
  width: 285px;
  height: 303px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

#landing-page {
  background-color: lightgray;
  position: relative;
}

#landing-inner-div {
  margin: auto;
  width: 77%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
}

.landing-card-titles {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 21px;
  font-weight: bold;
}

.landing-card-captions {
  font-size: 13px;
  margin-left: 20px;
  color: #3b7a57;
  cursor: pointer;
}

.landing-card-captions:hover {
  color: #ff9900;
}

#ad-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 77%;
  margin-bottom: 20px;
}

#carousel {
  position: relative;
  color: white;
}

#left-arrow {
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}

#right-arrow {
  position: absolute;
  top: 50%;
  left: 87%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#banner-txt {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-weight: 900;
  color: white;
  z-index: 1;
}
