@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
    url("./fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
}

body {
  font-family: "PT Sans";
}

textarea:focus,
input:focus {
  outline: none;
}
