#main-product-img {
  width: 618px;
  height: 618px;
  margin-left: 5px;
  margin-right: 34px;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

#product-categories {
  color: gray;
  font-size: 13px;
  margin: 20px 0px 20px 26px;
  cursor: pointer;
}

.mini-product-img {
  width: 38px;
  height: 38px;
  margin-bottom: 10px;
  border: 1px solid black;
  cursor: pointer;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

#mini-img-container {
  margin-top: 38px;
}

#product-imgs-container {
  margin: 20px 18px;
  display: flex;
  flex-direction: row;
}

#product-reviews-container {
  display: flex;
  flex-direction: row;
}

#right-product-reviews-container {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  width: 612px;
}

#review-images-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  overflow-x: hidden;
  margin-inline: auto;
}

#product-page {
  width: 84%;
  margin: auto;
  margin-top: 5px;
}

#cart-form {
  width: 242px;
  border: 1px lightgray solid;
  border-radius: 10px;
  padding: 14px 18px;
  height: max-content;
}

#product-info {
  width: 517px;
  padding: 0px 34px 0px 0px;
}

#cart-price {
  font-size: 28px;
  margin-bottom: 12px;
}

#cart-form-prime-logo {
  width: 58px;
  margin-bottom: 12px;
}

#cart-free-returns {
  font-size: 14px;
  margin-bottom: 12px;
  color: #007185;
}

#add-cart-btn {
  background-color: #ffd057;
  border: none;
  border-radius: 25px;
  padding: 1px 6px;
  /* width: 204px; */
  width: 100%;
  margin: auto;
  height: 29px;
  cursor: pointer;
  margin-bottom: 12px;
}

#qty-form {
  margin-bottom: 12px;
  font-size: 12px;
  padding: 0px 20px 0px 7px;
  background-color: #f0f0f0;
  outline: none;
  border-radius: 5px;
  border: 1px solid gray;
  width: 61px;
  height: 20px;
}

#qty-label {
  font-size: 12px;
}

#product-orange-star {
  color: #ffd057;
}

#product-p-name {
  font-size: 25px;
  margin-bottom: 0px;
}

#product-p-merchant {
  margin-top: 0px;
  font-size: 14px;
  color: #007185;
  margin-bottom: 0px;
}

#product-info-num-reviews {
  font-size: 14px;
  color: #007185;
  margin-left: 20px;
}

#product-info-price {
  font-size: 28px;
}

#product-info-free {
  font-size: 14px;
  color: #007185;
}

#product-about {
  font-size: 16px;
  font-weight: 900;
  margin-top: 0px;
  padding-bottom: 4px;
  margin-bottom: 0px;
}

.product-info-descr {
  font-size: 14px;
}

#review-summary-container {
  width: 300px;
  margin-right: 30px;
}

#write-review-btn {
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
  width: 289px;
  padding: 0px 10px 0px 11px;
  font-size: 13px;
  height: 29px;
}

#write-review-btn:hover {
  background-color: #f8f8f8;
}

.reviews-w-images {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

.product-dividers {
  border: 0px;
  height: 1px;
  background-color: lightgray;
  margin-top: 0px;
  margin-bottom: 14px;
}

#product-select-border {
  border-color: #ff9900;
  box-shadow: 0 0 5px #ff9900;
}

#product-prime-logo {
  width: 58px;
  margin-bottom: 0px;
}

#product-p-starratings {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#product-descr-ul {
  padding-left: 14px;
  margin-top: 4px;
}

#buy-cart-btn {
  background-color: #ff9900;
  border: none;
  border-radius: 25px;
  padding: 1px 6px;
  width: 100%;
  height: 29px;
  cursor: pointer;
}

#product-form-sold {
  font-size: 12px;
  color: gray;
}

#product-form-merchant {
  font-size: 12px;
}

#product-form-soldby-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 20px 0px 0px;
}

.product-question-title {
  font-size: 24px;
  font-weight: 900;
  margin-top: 6px 0px 0px;
  padding: 0px 0px 4px;
}

.product-question-h2 {
  margin: 0px 0px 12px;
  padding: 0px 0px 4px;
}

#product-post-q-container {
  background-color: #e8e8e8;
  border-radius: 10px;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  padding: 18px 22px;
  width: 800px;
}

#product-post-q-btn {
  margin-left: 16px;
  padding: 0px 10px 0px 11px;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: white;
  cursor: pointer;
}

#product-no-answer {
  font-size: 14px;
  font-weight: 900;
}

#product-post-q-btn:active {
  border-color: skyblue;
  box-shadow: 0 0 15px skyblue;
}

#product-review-title {
  font-size: 24px;
  font-weight: 900;
}

#product-review-rating-count {
  font-size: 14px;
  color: gray;
}

#product-review-btn-title {
  font-size: 18px;
  font-weight: 900;
}

#product-review-share {
  font-size: 14px;
}

#product-reviews-w-imgs {
  font-size: 18px;
  font-weight: 900;
}

#product-reviews-right-title {
  font-size: 18px;
  font-weight: 900;
  margin: 24px 0px 16px;
}

.fa-lock {
  color: gray;
}

#product-secure {
  color: #007185;
  padding-left: 10px;
  font-size: 14px;
}

#product-secure-container {
  margin-top: 12px;
}

#product-categories-carat {
  color: gray;
  font-size: 13px;
  margin: 20px 0px 20px 0px;
}

#product-categories:hover {
  text-decoration: underline;
}

#product-see {
  font-size: 14px;
  color: #007185;
  cursor: pointer;
  margin-bottom: 0px;
}

#product-see:hover {
  color: #c45500;
}
