.cart-img {
  width: 180px;
  height: 180px;
  aspect-ratio: 16 / 9;
  object-fit: contain;
  /* object-position: left top; */
}

.cart-product-order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px 0px;
}

.cart-product-name {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 18px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 12px;
}

.cart-form-w-pic {
  display: flex;
  flex-direction: row;
}

.cart-form {
  margin-left: 12px;
}

.cart-delete-link {
  color: #007185;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 3px;
}

.cart-vl {
  color: lightgray;
}

.cart-action {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-free {
  margin-top: 0px;
  font-size: 14px;
  margin-bottom: 0px;
}

.cart-price {
  font-size: 18px;
  font-weight: 900;
}

.cart-update-btn {
  background-color: white;
  width: 77px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 12px;
  cursor: pointer;
}

.cart-edit-form {
  padding-top: 12px;
}

.cart-delete-link:hover {
  text-decoration: underline;
}
