/* .image-pics {
  width: 325px;
  height: 420px;
} */

#image-inner-div {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.landing-images {
  margin-left: 20px;
  width: 285px;
  height: 303px;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

.image-add-btn {
  background-color: #ffd057;
  border: none;
  border-radius: 5px;
  padding: 0 10px 0 11px;
  width: 128px;
  height: 29px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 594px;
  margin-bottom: 20px;
}

#image-instructions {
  color: #007185;
  font-weight: 900;
}

#image-max {
  margin-left: 20px;
  margin-top: 0px;
}

#image-instructions-container {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
}

.fa-circle-plus {
  color: #007185;
}

.image-pics {
  margin-left: 20px;
  width: 285px;
  height: 303px;
  aspect-ratio: 16 / 9;
  object-fit: contain;
  position: relative;
}

.image-trash {
  position: absolute;
  transform: translate(-100%, 645%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
}

.fa-trash {
  color: white;
  padding: 12px;
}
