#nav-bar {
  background-color: black;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0px;
}

#nav-bar-logo {
  width: 99px;
}

#nav-bar-orders {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-bar-cart {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  /* z-index: -1; */
}

#second-nav-bar {
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #232f3e;
  align-items: center;
}

.dept-nav-links {
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.remove-text-dec {
  /* text-decoration: none !important; */
  text-decoration: none;
  /* position: relative; */
}

.count {
  z-index: 1;
  color: black;
  position: absolute;
  top: -550%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 900;
}

.fa-cart-shopping {
  position: relative;
  /* z-index: -1; */
}
